## Python things
**__pycache__**
thingstoreenv

## Testing things
.hypothesis*
.coverage*
.mypy_cache*
.pytest_cache*
bandit-report.html
banditfindings.html
mypy-report
flake8*
pytest-report.html
test
banditfindings.html
assets
tmp

## Packaging things
**.egg-info**
build

## VSCode things
.vscode

## Reporting
reports

## Sphinx
docs/_build

## Build stuff
build
